body{
   padding: 0;
   margin: 0;
   color: white;
   font-family: poppins;
   text-align: center;
   position: relative;
   top: -16px;
   height: 100vh;
   /* background-color: yellow; */
   background-image: url(./madripoor.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   box-shadow:inset 0 -16px 0 2000px hsla(0, 0%, 0%, 0.439);
}

nav{
   height: 15vh;
   /* background-color: #FAB00C; */
}

ul{
   width: 80vw;
   list-style-type: none;
   display: flex;
   gap: 40px;
   justify-content: end;
   padding-top: 50px;
   /* background-color: yellow; */
   margin-right: auto;
   margin-left: auto;
}

.logo{
   /* background-color: #FAB00C; */
   flex-grow: 9;
   margin: auto;
   align-self: flex-start;
   text-align: left;
}

header{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 85vh;
   /* background-color: aquamarine; */
}

h3{
   font-size: 30px;
   margin-top: -50px;
}

h3 span{
   color: #FAB00C;
}

p{
   font-size: 18px;
}

p span{
   font-weight: bold;
}

.first{
   background-color: #FAB00C;
}

button{
   padding: 10px 20px;
   border-radius: 5px;
   border: none;
   margin: 10px;
   font-weight: bold;
}